


html, body{
  margin: 0px;

}


body{
  width: 100vw;
  margin-left: 100px;
  font-family: 'Open Sans', sans-serif;

}

h1{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: underline 1px lightgrey;
  line-height: 10px;
}

form{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 50px;
  padding-left: 100px;
  width: 70%;
}

input{
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-left: 20px;;
}

#coche{
  margin-left: 0px;
}

input:focus{
  outline:  none;
}

table{
width: 80%;
margin-top:50px;
}

td{
  border: 1px solid black;
}

.title{
width:100px;
}

.descript{
  width:auto;
}

.btnSup{
  width:0px;
  border: none
}

footer{
  margin-top: 60%;
}